@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
}
html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.sem;
    line-height: 1.53m;
}
article {
    width: 100%;
}
menu {
    display: none;
}
